[submodule "bundle/SimpylFold"]
	path = bundle/SimplyFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
